* @billti @idavis @minestarks @swernli

/.github/ISSUE_TEMPLATE/fuzz_bug_report.md @billti @idavis @swernli
/.github/workflows/fuzz.yml @billti @idavis @swernli
/compiler @idavis @minestarks @swernli
/compiler/qsc_codegen @idavis @swernli
/compiler/qsc_doc_gen @billti @DmitryVasilevsky @ScottCarda-MS
/compiler/qsc_formatter @billti @ScottCarda-MS @minestarks
/compiler/qsc_project @minestarks @sezna @swernli
/compiler/qsc_partial_eval @idavis @swernli
/compiler/qsc_rca @idavis @swernli
/compiler/qsc_rir @idavis @swernli
/fuzz  @billti @idavis @swernli
/katas @billti @DmitryVasilevsky @sezna @swernli @tcNickolas
/jupyterlab @billti @idavis @minestarks
/language_service @billti @idavis @minestarks @ScottCarda-MS
/library @DmitryVasilevsky @swernli
/npm @billti @minestarks @sezna
/pip @billti @idavis @minestarks
/playground @billti @minestarks
/resource_estimator @billti @ivanbasov @swernli
/samples @DmitryVasilevsky @sezna @swernli @tcNickolas
/vscode @billti @idavis @minestarks @sezna
/wasm @billti @sezna @swernli

/Cargo.lock @idavis @minestarks @swernli
/Cargo.toml @idavis @minestarks @swernli
/package-lock.json @billti @minestarks
/package.json @billti @minestarks
