/target
/widgets/dist/
/widgets/src/qsharp_widgets/static/
node_modules/
__pycache__/
.venv/
.DS_Store
.vscode/*
.vscode-test-web/
*.pem
!.vscode/*.shared.json
!.vscode/extensions.json
/fuzz/target
/fuzz/corpus
/fuzz/artifacts
/fuzz/coverage
/fuzz/Cargo.lock
/samples_test/src/tests/*_generated.rs
.mypy_cache/
.pytest_cache/
.idea/
*.so
