/target
/source/widgets/dist/
/source/widgets/src/qsharp_widgets/static/
node_modules/
__pycache__/
.venv/
.DS_Store
.vscode/*
.vscode-test-web/
*.pem
!.vscode/*.shared.json
!.vscode/extensions.json
/source/fuzz/target
/source/fuzz/corpus
/source/fuzz/artifacts
/source/fuzz/coverage
/source/fuzz/Cargo.lock
/source/samples_test/src/tests/*_generated.rs
.mypy_cache/
.pytest_cache/
.idea/
*.so
samples/scratch/

*.egg-info/
pip/qsharp/disco/
