/target
/src/widgets/dist/
/src/widgets/src/qsharp_widgets/static/
node_modules/
__pycache__/
.venv/
.DS_Store
.vscode/*
.vscode-test-web/
*.pem
!.vscode/*.shared.json
!.vscode/extensions.json
/src/fuzz/target
/src/fuzz/corpus
/src/fuzz/artifacts
/src/fuzz/coverage
/src/fuzz/Cargo.lock
/src/samples_test/src/tests/*_generated.rs
.mypy_cache/
.pytest_cache/
.idea/
*.so
samples/scratch/
