package-lock.json
__pycache__/
.ado/
.cargo/
.github/
.vscode/
compiler/
library/
npm/dist/
npm/lib/
npm/src/*.generated.ts
pip/.venv/
pip/.pytest_cache/
pip/src/**/*.html
playground/public/libs/
samples/
target/
wasm/
