package-lock.json
__pycache__/
.ado/
.cargo/
.devcontainer/
.github/
.pytest_cache/
.vscode/
.vscode-test-web/
.venv/
/allocator/
/compiler/
/jupyterlab/lib/
/jupyterlab/qsharp-jupyterlab/labextension/
/katas/**/*.md
/library/
/npm/qsharp/dist/
/npm/qsharp/docs/
/npm/qsharp/lib/
/npm/qsharp/src/*.generated.*
/pip/src/**/*.html
/playground/public/libs/
/samples/
/target/
/vscode/out/
/vscode/test/out/
/vscode/test/**/test-workspace/
/wasm/
/pip/
