package-lock.json
__pycache__/
.ado/
.cargo/
.devcontainer/
.github/
.pytest_cache/
.vscode/
.vscode-test-web/
.venv/
/katas/**/*.md
/library/
/qdk_source/backend/allocator/
/qdk_source/backend/compiler/
/qdk_source/backend/wasm/
/qdk_source/jupyterlab/lib/
/qdk_source/jupyterlab/qsharp-jupyterlab/labextension/
/qdk_source/npm/qsharp/dist/
/qdk_source/npm/qsharp/docs/
/qdk_source/npm/qsharp/lib/
/qdk_source/npm/qsharp/src/*.generated.*
/qdk_source/pip/
/qdk_source/pip/src/**/*.html
/qdk_source/playground/public/libs/
/qdk_source/vscode/out/
/qdk_source/vscode/test/out/
/qdk_source/vscode/test/**/test-workspace/
/samples/
/target/
.config/1espt/PipelineAutobaseliningConfig.yml
