body {
  padding: 12px;
  height: 100%;
}
html {
  height: 100%;
}
textarea {
  height: 3em;
  background: inherit;
  width: 100%;
  border: none;
  outline: none;
  overflow-y: scroll;
  margin: 4px;
  line-height: 1.33;
  vertical-align: middle;
  cursor: text;
}

textarea:focus {
  outline: none;
}

.requestBox {
  padding: 16px;
  margin-left: 32px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.requestBox p {
  margin-bottom: 0px;
}

.responseBox {
  margin-bottom: 16px;
}

.responseBox pre code {
  background: inherit;
  /* border: 0.5px solid gray; */
  display: block;
  padding: 8px;
  margin: 8px 0;
}

.inputDiv {
  border: 1px solid #ccc;
  border-radius: 0.375em;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  max-width: 600px;
}

.inputDiv:has(textarea:focus) {
  border: 2px solid #0078d4;
}

/* Basic styling for the toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide the default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider (background and shape) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 17px;
}

/* The circle inside the toggle */
.slider:before {
  content: "";
  position: absolute;
  left: 2px;
  bottom: 2px;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

/* When the checkbox is checked, move the slider */
input:checked + .slider {
  background-color: #eee;
}

/* When the checkbox is checked, move the circle to the right */
input:checked + .slider:before {
  transform: translateX(13px);
}

.toggle-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

/* Add margin between labels and toggle switch */
.label-left,
.label-right {
  font-size: smaller;
  margin: 0 10px 2px 10px;
}
