[package]
name = "qdk_simulators"

version.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
quantum-sparse-sim = { workspace = true }

[lints]
workspace = true

[lib]
doctest = false
