[package]
name = "qsc"
version = "0.0.0"
edition = "2021"

[dependencies]
qsc_ast = { path = "../qsc_ast" }
qsc_frontend = { path = "../qsc_frontend" }
qsc_passes = { path = "../qsc_passes" }
qsc_codegen = { path = "../qsc_codegen" }