body {
  padding: 12px;
}
textarea {
  height: 3em;
  width: 100%;
  border: none;
  outline: none;
  overflow-y: scroll;
  margin: 4px;
  line-height: 1.33;
  vertical-align: middle;
  cursor: text;
}

.requestBox {
  padding: 16px;
  margin-left: 32px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.requestBox p {
  margin-bottom: 0px;
}

.inputDiv {
  border: 1px solid #ccc;
  border-radius: 0.375em;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80vw;
  max-width: 600px;
}

.inputDiv:has(textarea:focus) {
  border: 2px solid #0078d4;
}
