/* Generic element resets */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

.language-qsharp {
  line-height: 125%;
}
pre:has(code) {
  background-color: White;
  border-left: solid DarkBlue;
  margin: 5px 0px 5px 0px;
  padding: 0em 0em 0em 0.5em;
}
