[package]
name = "qsc_wasm"
version = "0.0.0"

authors.workspace = true
edition.workspace = true
# wasm-pack doesn't like the workspace format for the below, so copied in for now.
homepage = "https://github.com/microsoft/qsharp"
repository = "https://github.com/microsoft/qsharp"
license = "MIT"
description = "Wasm module for the qsc compiler"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
qsc_eval = { path = "../qsc_eval"}
qsc_frontend = { path = "../qsc_frontend"}
qsc_passes = { path = "../qsc_passes"}
katas = { path = "../../katas"}
# This is a transitive dependency of qir-stdlib which fails to build for wasm if 'js' feature isn't enabled.
getrandom = { workspace = true, features = ["js"] }
js-sys = { workspace = true }
miette = { workspace = true}
num-bigint = { workspace = true }
num-complex = { workspace = true }
serde = { workspace = true, features = ["derive"]}
serde-wasm-bindgen = { workspace = true}
wasm-bindgen = { workspace = true}
